* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.banner-container {
  position: relative;
  top: 0;
  border: 1px #000 solid;
  overflow: hidden;
  height: 120px;
  min-width: 970px;
  width: 100%;
  background: #000;
}

.pa {
  position: absolute;
}

.scene {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.scene1 {
  opacity: 0;
  display: none;
}

.scene2 {
  opacity: 0;
  display: none;
  background: url(packshot-back.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
  cursor: pointer;
}

.logo {
  top: 0;
  left: 0;
  width: 120px;
  height: 120px;
  background: url(logo.png) no-repeat;
  background-size: contain;
  z-index: 100;
}

.piano {
  top: 0;
  left: 120px;
  width: 35%;
  height: 120px;
  background: url(piano.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
}

.right-block {
  top: 0;
  left: calc(120px + 35%);
  background: #1c3825;
  width: calc(100% - 120px - 35%);
  height: 120px;
}

.button-block {
  width: 282px;
  height: 100%;
  top: 0;
  right: 2%;
}

.button:hover {
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #009a3c !important;
}

.button1 {
  top: 10px;
  left: 0;
  width: 282px;
  height: 50px;
  background: url(button1.png) no-repeat;
  background-size: contain;
  z-index: 999;
}

.button2 {
  bottom: 10px;
  left: 0;
  width: 282px;
  height: 50px;
  background: url(button2.png) no-repeat;
  background-size: contain;
  z-index: 999;
}

.center-text {
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  width: calc(98% - 282px);
  background-size: contain;
  background-position: center center;
}

.inf {
  width: calc(92% - 282px);
  left: 2%;
}

.text1 {
  height: 48px;
  background: url(text1-b.png) no-repeat;
  background-position: center center;
  background-size: contain;
}

.answer1-info {
  height: 25px;
  background: url(answer1-info-b.png) no-repeat;
  background-position: center center;
  background-size: contain;
}

.answer2-info {
  height: 25px;
  background: url(answer2-info-b.png) no-repeat;
  background-position: center center;
  background-size: contain;
}

.question-block {
  display: block;
}

.comment-block {
  width: 282px;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 2%;
}

.answer1-comment {
  height: 48px;
  background: url(answer1-comment-b.png) no-repeat;
  background-position: center center;
  background-size: contain;
}

.answer2-comment {
  height: 45px;
  background: url(answer2-comment-b.png) no-repeat;
  background-position: center center;
  background-size: contain;
}

.packshot-button {
  right: 1%;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 285px;
  height: 72px;
  background: url(packshot-button.png) no-repeat;
  background-position: center center;
  background-size: contain;
  overflow: hidden;
}

.packshot-logo {
  left: 2%;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 206px;
  height: 95px;
  background: url(packshot-logo.png) no-repeat;
  background-position: center center;
  background-size: contain;
}

.packshot-text {
  left: -5%;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 97%;
  height: 77px;
  background: url(packshot-text-b.png) no-repeat;
  background-position: center center;
  background-size: contain;
}

.click-area {
  position: absolute;
  top: 0;
  left: 0;
  height: 120px;
  width: calc(98% - 282px);
  z-index: 999;
  cursor: pointer;
}

@media screen and (max-width: 1280px) {
  .piano {
    width: 28%;
  }
  .right-block {
    left: calc(120px + 28%);
    width: calc(100% - 120px - 28%);
  }
  .button-block {
    right: 1%;
  }
  .inf {
    left: 5%;
  }
  .text1 {
    height: 77px;
    background: url(text1-s.png) no-repeat;
    background-position: center center;
    background-size: contain;
  }
  .answer1-info {
    height: 48px;
    background: url(answer1-info-s.png) no-repeat;
    background-position: center center;
    background-size: contain;
  }
  .answer2-info {
    height: 53px;
    background: url(answer2-info-s.png) no-repeat;
    background-position: center center;
    background-size: contain;
  }
  .comment-block {
    right: 1%;
  }
  .answer1-comment {
    height: 75px;
    background: url(answer1-comment-s.png) no-repeat;
    background-position: center center;
    background-size: contain;
  }
  .answer2-comment {
    height: 71px;
    background: url(answer2-comment-s.png) no-repeat;
    background-position: center center;
    background-size: contain;
  }
  .packshot-text {
    height: 53px;
    background: url(packshot-text-s.png) no-repeat;
    background-position: center center;
    background-size: contain;
  }
}
