html,
body,
div {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.banner-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  box-sizing: border-box;
  width: 240px;
  height: 400px;
  margin: auto;
  border: 1px solid #000;
  background: url(green_back.png) no-repeat;
}

div img {
  width: 100%;
  height: auto;
}

.mianPlGreen {
  width: 240px;
  height: 400px;
  position: absolute;
  opacity: 1;
  z-index: 99999;
  background: url(green_back.png) no-repeat;
}

.bg1 {
  width: 240px;
  height: 400px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  opacity: 1;
  background: #90ca33;
}

.circle {
  position: absolute;
  top: 102px;
  right: 0;
  left: 0;
  width: 240px;
  height: 273px;
  margin: auto;
}

.text1 {
  position: absolute;
  top: 26px;
  left: 15px;
  width: 200px;
  height: 50px;
  z-index: 999;
}

.text2 {
  position: absolute;
  top: 26px;
  left: 15px;
  width: 200px;
  height: 50px;
  z-index: 999;
}

.text3 {
  position: absolute;
  top: 26px;
  left: 15px;
  width: 214px;
  height: 71px;
  z-index: 999;
}

.dynamic-block {
  font-family: sans-serif;
  position: absolute;
  top: 175px;
  right: 0;
  left: 0;
  width: 135px;
  height: 145px;
  margin: auto;
  text-align: center;
  color: #fff;
}

.dynamic-city {
  font-size: 12px;
  text-transform: uppercase;
}

.dynamic-icon {
  position: relative;
  width: 100%;
  height: 63px;
  margin: 8px 0;
}

.dynamic-icon img {
  position: absolute;
  right: 0;
  left: 0;
  width: 94px;
  height: 63px;
  margin: auto;
}

.dynamic-temp {
  font-size: 26px;
  text-transform: uppercase;
}

/*.first-back {
  position: absolute;
  bottom: 0;
  left: 0;
  background: url(back-full.png) no-repeat;
  width: 441px;
  height: 357px;
}*/

.first-back {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 238px;
  height: 357px;
  background: url(back.png) no-repeat;
}

.small-icon {
  position: absolute;
}

.icon-ball {
  position: absolute;
  top: 245px;
  left: 40px;
  width: 34px;
  height: 33px;
}

.icon-blesk {
  position: absolute;
  top: 112px;
  left: 35px;
  width: 17px;
  height: 18px;
}

.icon-blesk2 {
  position: absolute;
  top: 175px;
  left: 124px;
  width: 31px;
  height: 35px;
}

.icon-butterfly {
  position: absolute;
  top: 220px;
  left: 110px;
  width: 42px;
  height: 38px;
}

.icon-cam {
  position: absolute;
  top: 150px;
  left: 40px;
  width: 42px;
  height: 38px;
}

.icon-cycle {
  position: absolute;
  top: 112px;
  left: 145px;
  width: 77px;
  height: 49px;
}

.icon-drink {
  position: absolute;
  top: 175px;
  left: 180px;
  width: 43px;
  height: 46px;
}

.slider-block {
  position: absolute;
  top: 270px;
  right: 0;
  left: 0;
  width: 170px;
  height: 103px;
  margin: auto;
}

/*.arrow {
  position: absolute;
  opacity: 1;
  top: -7px;
  left: 38px;
  width: 0;
  height: 43px;
  margin: auto;
  background: url(arrow.png) no-repeat;
  background-position: left top;
  background-size: 95px 43px;
}*/

.arrow {
  position: absolute;
  opacity: 1;
  top: 0;
  left: 31px;
  width: 116px;
  height: 15px;
  overflow: hidden;
  -moz-transform: rotate(-22deg);
  -ms-transform: rotate(-22deg);
  -webkit-transform: rotate(-22deg);
  -o-transform: rotate(-22deg);
  transform: rotate(-22deg);
}

.arrow-line-container {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  width: 110px;
  height: 4px;
  overflow: hidden;
}

.arrow-line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -116px;
  margin: auto;
  width: 116px;
  height: 3px;
  opacity: 0;
}

.arrow-a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0px;
  margin: auto;
  width: 12px;
  height: 13px;
  opacity: 0;
}

.vol-off {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 170px;
  height: 103px;
  margin: auto;
  background: url(vol-off.png) no-repeat;
}

.vol-on {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 170px;
  height: 103px;
  margin: auto;
  background: url(vol-on-orange.png) no-repeat;
}

.vol-on-a {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0;
  height: 103px;
  margin: auto;
  background: url(vol-on.png) no-repeat;
}

/*left: -50px; left: 108px;*/

.prod-slider {
  position: absolute;
  top: -35px;
  left: -50px;
  width: 113px;
  height: 178px;
}

.drag-zone {
  position: absolute;
  top: 27px;
  left: 33px;
  width: 46px;
  height: 118px;
  cursor: pointer;
}

.girl {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 324px;
  height: 401px;
}

.prod2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 113px;
  height: 178px;
}

.text-logo {
  position: absolute;
  top: 26px;
  left: 15px;
  width: 211px;
  height: 68px;
  z-index: 999;
}

.text-hashtag {
  position: absolute;
  top: 108px;
  left: 20px;
  width: 202px;
  height: 23px;
}

.prod-all {
  position: absolute;
  top: 160px;
  left: 5px;
  width: 226px;
  height: 165px;
}

.button {
  position: absolute;
  top: 280px;
  left: 8px;
  width: 222px;
  height: 125px;
}

.slomo-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 240px;
  height: 400px;
}

.scene1 {
  opacity: 0;
}
