body,
html {
  margin: 0;
  height: 100%;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

.rel {
  position: relative;
  width: 100%;
  height: 100%;
}

.opac0 {
  opacity: 0;
}

.banner-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 1px #000 solid;
  opacity: 1;
  cursor: pointer;
}

.scene {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bottom-block {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: #000;
  z-index: 999;
}

.bottom-logo {
  background: url(bottom-logo.png) no-repeat;
  background-size: contain;
  background-position: center center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.top-panel {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: #000;
  z-index: 110;
}

.bar-left {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 30%;
  background: url(top-bar-left.png) no-repeat;
  background-size: contain;
  background-position: left center;
}

.bar-right {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 30%;
  background: url(top-bar-right.png) no-repeat;
  background-size: contain;
  background-position: right center;
}

.white-button-block {
  position: absolute;
  width: 100%;
  background: #fff;
  z-index: 100;
}

.shot-button {
  position: absolute;
  margin: auto;
  height: 70%;
  background: url(camera-button.png) no-repeat;
  background-size: contain;
  background-position: center center;
}

.photo-slide-block {
  position: absolute;
  top: 0;
  width: 100%;
  background: #fff;
}

.photo {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  background: url(first-photo.png) no-repeat;
  background-size: cover;
  background-position: center center;
}

.photo-fader {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background: #000;
}

.photo-flash {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background: #fff;
}

.crosshair {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: url(crosshair.png) no-repeat;
  background-size: contain;
  background-position: center center;
}

.message0 {
  position: absolute;
  background: url(message0.png) no-repeat;
  background-size: contain;
  background-position: center top;
  z-index: 20;
}

.messages-block {
  position: absolute;
  width: 100%;
}

.empty-message {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 25%;
  z-index: 0;
}

.message1 {
  position: absolute;
  top: 25%;
  left: 0;
  width: 100%;
  height: 25%;
  background: url(message1.png) no-repeat;
  background-size: contain;
  background-position: center center;
  z-index: 1;
  border-bottom: 1px #dbdbdb solid;
}

.message2 {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 25%;
  background: url(message2.png) no-repeat;
  background-size: contain;
  background-position: center center;
  z-index: 2;
  border-bottom: 1px #dbdbdb solid;
}

.message3 {
  position: absolute;
  top: 75%;
  left: 0;
  width: 100%;
  height: 25%;
  background: url(message3.png) no-repeat;
  background-size: contain;
  background-position: center center;
  z-index: 3;
  border-bottom: 1px #dbdbdb solid;
}

.big-phone-block {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: #fff;
  width: 100%;
}

.big-phone {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: #fff;
  width: 80%;
  height: 90%;
  background: url(phone-portrait.png) no-repeat;
  background-size: contain;
  background-position: center center;
}

.packshot-block {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: #fff;
  width: 100%;
}

.packshot-text {
  position: absolute;
  top: 0;
  margin: auto;
  background: url(packshot-text.png) no-repeat;
  background-size: contain;
  background-position: center center;
}

.packshot-buttons {
  position: absolute;
  margin: auto;
  width: 90%;
}

.button-appstore {
  position: absolute;
  top: 0;
  left: 0;
  margin: auto;
  width: 48%;
  height: 100%;
  background: url(button-appstore.png) no-repeat;
  background-size: contain;
  background-position: center center;
}

.button-googleplay {
  position: absolute;
  top: 0;
  right: 0;
  margin: auto;
  width: 48%;
  height: 100%;
  background: url(button-googleplay.png) no-repeat;
  background-size: contain;
  background-position: center center;
}

.packshot-phone {
  position: absolute;
  bottom: 0;
  margin: auto;
  width: 100%;
  background: url(packshot-phone.png) no-repeat;
  background-size: contain;
  background-position: center center;
}

.heart {
  position: absolute;
  top: 0;
  bottom: 0;
  background: url(heart.png) no-repeat;
  background-size: contain;
  background-position: center center;
}

.numbers {
  position: absolute;
  top: 0;
  bottom: 0;
  color: #000;
}

@media all and (orientation: portrait) {
  .bottom-block {
    height: 20%;
  }
  .bottom-logo {
    width: 95%;
    height: 80%;
  }
  .top-panel {
    height: 3%;
  }
  .white-button-block {
    height: 16%;
    bottom: 20%;
    left: 0;
    right: 0;
  }
  .shot-button {
    width: 30%;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
  }
  .photo-slide-block {
    left: 0;
    top: 3%;
    height: 78%;
  }
  .photo {
    right: 0;
    left: 0;
  }
  .crosshair {
    top: -15%;
    width: 30%;
    height: 30%;
    right: 0;
    left: 0;
  }
  .messages-block {
    height: 100%;
    bottom: 0;
    background: #fff;
  }
  .empty-message {
    border-bottom: 1px #dbdbdb solid;
  }
  .big-phone-block {
    height: 80%;
  }
  .big-phone {
    top: 12%;
  }
  .packshot-block {
    height: 80%;
  }
  .packshot-text {
    width: 70%;
    height: 26%;
    left: 0;
    right: 0;
  }
  .packshot-phone {
    height: 50%;
    left: 0;
    right: 0;
  }
  .packshot-buttons {
    top: 26%;
    height: 24%;
    left: 0;
    right: 0;
  }
  .message0 {
    top: 0;
    right: 0;
    left: 0;
    height: 50%;
    width: 100%;
  }
  .heart {
    position: absolute;
    width: 8%;
    height: 100%;
    left: 10%;
  }
  .numbers {
    width: 40%;
    left: 30%;
    top: 35%;
    font-size: 130%;
  }
}

@media all and (orientation: landscape) {
  .bottom-block {
    height: 20%;
  }
  .bottom-logo {
    width: 60%;
    height: 80%;
  }
  .top-panel {
    height: 4%;
  }
  .white-button-block {
    width: 42%;
    height: 100%;
    bottom: 18%;
    right: 0;
  }
  .shot-button {
    width: 30%;
    right: 0;
    top: 25%;
    bottom: 0;
    left: 0;
  }
  .photo-slide-block {
    top: 4%;
    right: 0;
    height: 76%;
  }
  .photo {
    width: 58%;
    left: 0;
  }
  .big-phone-block {
    height: 82%;
  }
  .big-phone {
    top: 12%;
  }
  .packshot-block {
    height: 82%;
  }
  .message0 {
    position: absolute;
    top: 0;
    right: 0;
    height: 50%;
    width: 42%;
    z-index: 100;
  }
  .messages-block {
    height: 100%;
    width: 42%;
    right: 0;
    z-index: 200;
  }
  .crosshair {
    width: 30%;
    height: 30%;
    left: 15%;
  }
  .packshot-block {
    height: 82%;
  }
  .packshot-text {
    width: 45%;
    height: 40%;
    left: 0;
    right: 0;
  }
  .packshot-phone {
    height: 60%;
    width: 50%;
    right: 0;
  }
  .packshot-buttons {
    top: 26%;
    width: 55%;
    height: 60%;
    bottom: 0;
  }
  .button-appstore {
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
    height: 30%;
  }
  .button-googleplay {
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    height: 30%;
  }
  .heart {
    position: absolute;
    width: 5%;
    height: 100%;
    left: 55%;
    top: -2%;
  }
  .numbers {
    width: 20%;
    left: 65%;
    top: 37%;
    font-size: 80%;
  }
}
