.main-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video-container {
  position: absolute;
  top: 0;
  height: 100%;
}

.v-1 {
  left: 0;
  width: 100%;
  background: #000;
  overflow: hidden;
}

.drag-button {
  position: absolute;
  left: 50%;
  top: 0;
  bottom: 22%;
  width: 12px;
  background: #fff;
  cursor: pointer;
  user-select: none;
}

.drag-circle {
  position: absolute;
  width: 104px;
  height: 104px;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 50%;
  transform: translate(-50%, 0);
  background: url('dragger.png') no-repeat;
  background-size: contain;
}

.v-2 {
  left: 0;
  width: 50%;
  background: #000;
  overflow: hidden;
}

video {
  width: inherit;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  height: auto;
}

.show-color {
  width: 105% !important;
  transition: width 0.6s ease-out;
}

.moveDraggerRight {
  left: 105% !important;
  transition: left 0.6s ease-out;
}

.show-black {
  width: 0 !important;
  left: -3%;
  transition: width 0.6s ease-out;
}

.moveDraggerLeft {
  left: 0px !important;
  transition: left 0.6s ease-out;
}

.logo {
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: 30%;
  background: url('logo.png') no-repeat;
  background-size: contain;
  background-position: top right;
  z-index: 100;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 25%;
  background: url('bottom-back.jpg') no-repeat;
  background-size: 100% 100%;
  background-position: center bottom;
}

.footer .footer-text {
  position: absolute;
  bottom: 30%;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 80%;
  height: 90%;
  background: url('bottom-text.png') no-repeat;
  background-size: contain;
  background-position: center center;
}

.right-text-1 {
  position: absolute;
  bottom: 7%;
  top: 0;
  right: 2%;
  margin: auto;
  width: 44%;
  height: 70%;
  background: url('right-text-1.png') no-repeat;
  background-size: contain;
  background-position: center center;
}

.main-text-left {
  width: 640px;
  height: 360px;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0px;
  margin: auto;
}

.left-text-1 {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 20px;
  margin: auto;
  width: 25.7%;
  height: 38.8%;
  background: url('left-text-1.png') no-repeat;
  background-size: contain;
  background-position: right center;
}

.headerTop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 30%;
  background: url('top-back.png') repeat-x;
  background-size: contain;
  background-position: center top;
}

.headerTop .header-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 50%;
  height: 70%;
  background: url('header-text.png') no-repeat;
  background-size: contain;
  background-position: center center;
}

.left-text-2 {
  width: 20%;
  height: 18.1%;
  position: absolute;
  left: 2.5%;
  top: 57.5%;
  background: url('left-text-2.png') no-repeat;
  background-size: contain;
  background-position: left center;
}

.right-text-2 {
  width: 38.5%;
  height: 32.7%;
  position: absolute;
  right: 0;
  top: 43.6%;
}

.right-text-2-im {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url('right-text-2.png') no-repeat;
  background-size: contain;
  background-position: left center;
}

.btn-cont {
  width: 84%;
  height: 34%;
  position: absolute;
  left: 0;
  top: 30%;
  overflow: hidden;
  cursor: pointer;
}

.btn-pos {
  width: 100%;
  height: 100%;
  position: absolute;
}

.btn-im1 {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url('button-try-normal.png') no-repeat;
  background-size: contain;
  background-position: right center;
  opacity: 1;
}

.btn-im2 {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url('button-try-active.png') no-repeat;
  background-size: contain;
  background-position: right center;
  opacity: 0;
}

.ligal {
  width: 100%;
  height: 8%;
  position: absolute;
  bottom: 0;
  background: url('ligal.png');
  background-size: contain;
  background-position: bottom center;
  background-repeat: no-repeat;
}
