html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ED3424;
  cursor: pointer;
}

.wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.packshot-texts {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
}

.packshot-logo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
}

.packshot-url {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
}

.packshot-button {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
}

.packshot-legal {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
}

.letters-block {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.logo-line {
  position: absolute;
}

.small-texts {
  position: absolute;
}

.small-text-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(small-text-1.png) no-repeat;
  background-size: contain;
  background-position: top left;
}

.small-text-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(small-text-2.png) no-repeat;
  background-size: contain;
  background-position: top left;
}

@media all and (orientation: portrait) {
  .wrapper {
    /* background: url(bg-portrait.jpg) no-repeat;
        background-position: center center;
        background-size: contain; */
    background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(30, 30, 30, 0) 51%, rgba(57, 57, 57, 0.27) 99%, rgba(58, 58, 58, 0.27) 100%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(30, 30, 30, 0) 51%, rgba(57, 57, 57, 0.27) 99%, rgba(58, 58, 58, 0.27) 100%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(30, 30, 30, 0) 51%, rgba(57, 57, 57, 0.27) 99%, rgba(58, 58, 58, 0.27) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#453a3a3a', GradientType=1);
  }
  .packshot-texts {
    top: 10%;
    height: 68%;
    width: 98%;
  }
  .packshot-logo {
    height: 54%;
    background: url(logo-main.png) no-repeat;
    background-size: contain;
    background-position: center center;
  }
  .packshot-url {
    top: 65%;
    height: 6%;
    background: url(link-image.png) no-repeat;
    background-size: contain;
    background-position: center center;
  }
  .packshot-button {
    top: 85%;
    height: 12%;
    background: url(button-knowmore.png) no-repeat;
    background-size: contain;
    background-position: center center;
  }
  .packshot-legal {
    bottom: 1%;
    height: 16%;
    background: url(legal-portrait.png) no-repeat;
    background-size: contain;
    background-position: center bottom;
    width: 98%;
  }
  .logo-line {
    top: 67%;
    left: 11%;
    height: 22%;
    width: 200%;
    background: url(alfa-line.png) no-repeat;
    background-size: cover;
    background-position: left center;
  }
  .small-texts {
    position: absolute;
    top: 48%;
    left: 10%;
    width: 86%;
    height: 8%;
  }
  .letters-portrait {
    display: block;
    position: absolute;
    width: 88%;
    height: 32%;
    top: 13%;
    left: 5%;
  }
  .letters-landscape {
    display: none;
  }
  .lp-l-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 54%;
  }
  .lp-l-1 div {
    position: absolute;
    top: 0;
    width: 40%;
    height: 100%;
    background-size: contain;
    background-position: left top;
  }
  .lp-l-2 {
    position: absolute;
    top: 53%;
    left: 2%;
    width: 92%;
    height: 25%;
  }
  .lp-l-2 div {
    position: absolute;
    top: 0;
    width: 20%;
    height: 100%;
    background-size: contain;
    background-position: left top;
  }
  .lp-l-3 {
    position: absolute;
    top: 79%;
    left: 2%;
    width: 98%;
    height: 21%;
  }
  .lp-l-3 div {
    position: absolute;
    top: 0;
    width: 20%;
    height: 100%;
    background-size: contain;
    background-position: left top;
  }
  /* line 1 */
  .letter-p-1 {
    left: 0;
    background: url(l1.png) no-repeat;
  }
  .letter-p-2 {
    left: 28%;
    background: url(l2.png) no-repeat;
  }
  .letter-p-3 {
    left: 50%;
    background: url(l3.png) no-repeat;
  }
  .letter-p-4 {
    left: 75%;
    background: url(l4.png) no-repeat;
  }
  /* line 2 */
  .letter-p-5 {
    left: 0;
    background: url(l5.png) no-repeat;
  }
  .letter-p-6 {
    left: 12.5%;
    background: url(l6.png) no-repeat;
  }
  .letter-p-7 {
    left: 25%;
    background: url(l7.png) no-repeat;
  }
  .letter-p-8 {
    left: 37.5%;
    background: url(l8.png) no-repeat;
  }
  .letter-p-9 {
    left: 50%;
    background: url(l9.png) no-repeat;
  }
  .letter-p-10 {
    left: 62.5%;
    background: url(l10.png) no-repeat;
  }
  .letter-p-11 {
    left: 75%;
    background: url(l11.png) no-repeat;
  }
  .letter-p-12 {
    left: 87.5%;
    background: url(l12.png) no-repeat;
  }
  /* line 3 */
  .letter-p-13 {
    left: 0;
    background: url(ls1.png) no-repeat;
  }
  .letter-p-14 {
    left: 8.2%;
    background: url(ls2.png) no-repeat;
  }
  .letter-p-15 {
    left: 16.4%;
    background: url(ls3.png) no-repeat;
  }
  .letter-p-16 {
    left: 28.2%;
    background: url(ls4.png) no-repeat;
  }
  .letter-p-17 {
    left: 44.3%;
    background: url(ls5.png) no-repeat;
  }
  .letter-p-18 {
    left: 52.5%;
    background: url(ls6.png) no-repeat;
  }
  .letter-p-19 {
    left: 60%;
    background: url(ls7.png) no-repeat;
  }
  .letter-p-20 {
    left: 67%;
    background: url(ls8.png) no-repeat;
  }
  .letter-p-21 {
    left: 73.6%;
    background: url(ls9.png) no-repeat;
  }
  .letter-p-22 {
    left: 81.7%;
    background: url(ls10.png) no-repeat;
  }
  .letter-p-23 {
    left: 88.8%;
    background: url(ls11.png) no-repeat;
  }
}

@media all and (orientation: landscape) {
  .wrapper {
    /* background: url(bg-landscape.jpg) no-repeat;
        background-position: center center;
        background-size: 100% 100%; */
    background: -moz-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(30, 30, 30, 0) 51%, rgba(57, 57, 57, 0.27) 99%, rgba(58, 58, 58, 0.27) 100%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0) 0%, rgba(30, 30, 30, 0) 51%, rgba(57, 57, 57, 0.27) 99%, rgba(58, 58, 58, 0.27) 100%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0%, rgba(30, 30, 30, 0) 51%, rgba(57, 57, 57, 0.27) 99%, rgba(58, 58, 58, 0.27) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#453a3a3a', GradientType=1);
  }
  .packshot-texts {
    top: 14%;
    height: 64%;
  }
  .packshot-logo {
    height: 56%;
    background: url(logo-main.png) no-repeat;
    background-size: contain;
    background-position: center center;
  }
  .packshot-url {
    top: 67%;
    height: 8%;
    background: url(link-image.png) no-repeat;
    background-size: contain;
    background-position: center center;
  }
  .packshot-button {
    top: 87%;
    height: 13%;
    background: url(button-knowmore.png) no-repeat;
    background-size: contain;
    background-position: center center;
  }
  .packshot-legal {
    bottom: 1%;
    height: 18%;
    background: url(legal-landscape.png) no-repeat;
    background-size: contain;
    background-position: center bottom;
    width: 98%;
  }
  .logo-line {
    top: 61%;
    left: 4%;
    height: 27%;
    width: 200%;
    background: url(alfa-line.png) no-repeat;
    background-size: cover;
    background-position: left center;
  }
  .small-texts {
    position: absolute;
    top: 52%;
    left: 36%;
    width: 58%;
    height: 10%;
  }
  .letters-portrait {
    display: none;
  }
  .letters-landscape {
    display: block;
    position: absolute;
    width: 92%;
    height: 25%;
    top: 24%;
    left: 3%;
  }
  .ll-l-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 56%;
  }
  .ll-l-1 div {
    position: absolute;
    top: 0;
    width: 40%;
    height: 100%;
    background-size: contain;
    background-position: left top;
  }
  .ll-l-2 {
    position: absolute;
    top: 56%;
    left: 9%;
    width: 52%;
    height: 44%;
  }
  .ll-l-2 div {
    position: absolute;
    top: 0;
    width: 20%;
    height: 100%;
    background-size: contain;
    background-position: left top;
  }
  /* line 1 */
  .letter-p-1 {
    left: 0;
    background: url(l1.png) no-repeat;
  }
  .letter-p-2 {
    left: 6.6%;
    background: url(l2.png) no-repeat;
  }
  .letter-p-3 {
    left: 11.8%;
    background: url(l3.png) no-repeat;
  }
  .letter-p-4 {
    left: 17%;
    background: url(l4.png) no-repeat;
  }
  .letter-p-5 {
    left: 22.5%;
    background: url(l5.png) no-repeat;
  }
  .letter-p-6 {
    left: 29%;
    background: url(l6.png) no-repeat;
  }
  .letter-p-7 {
    left: 35.6%;
    background: url(l7.png) no-repeat;
  }
  .letter-p-8 {
    left: 41%;
    background: url(l8.png) no-repeat;
  }
  .letter-p-9 {
    left: 47.3%;
    background: url(l9.png) no-repeat;
  }
  .letter-p-10 {
    left: 52.5%;
    background: url(l10.png) no-repeat;
  }
  .letter-p-11 {
    left: 58.9%;
    background: url(l11.png) no-repeat;
  }
  .letter-p-12 {
    left: 65.3%;
    background: url(l12.png) no-repeat;
  }
  /* line 2 */
  .letter-p-13 {
    left: 0;
    background: url(ls1.png) no-repeat;
  }
  .letter-p-14 {
    left: 8.2%;
    background: url(ls2.png) no-repeat;
  }
  .letter-p-15 {
    left: 16.4%;
    background: url(ls3.png) no-repeat;
  }
  .letter-p-16 {
    left: 28.2%;
    background: url(ls4.png) no-repeat;
  }
  .letter-p-17 {
    left: 44.3%;
    background: url(ls5.png) no-repeat;
  }
  .letter-p-18 {
    left: 52.5%;
    background: url(ls6.png) no-repeat;
  }
  .letter-p-19 {
    left: 60%;
    background: url(ls7.png) no-repeat;
  }
  .letter-p-20 {
    left: 67%;
    background: url(ls8.png) no-repeat;
  }
  .letter-p-21 {
    left: 73.6%;
    background: url(ls9.png) no-repeat;
  }
  .letter-p-22 {
    left: 81.7%;
    background: url(ls10.png) no-repeat;
  }
  .letter-p-23 {
    left: 88.8%;
    background: url(ls11.png) no-repeat;
  }
}
